@font-face {
    font-family:digital-7mono;
    src: url("./Fonts/digital-7\ \(mono\).ttf");
}

body{
    background-image: linear-gradient(to bottom, rgb(0, 38, 255),yellow);
    background-repeat:space;
    background-size: cover;
    background-attachment: fixed;
    margin:0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header{
    font-family: Bangers,sans-serif;
    color: rgb(255, 255, 255);
}
.header, .footer{   
    margin:0;
    padding:3px 0px;   
}
.footer{
    font-family:'Rock Salt', sans-serif;  
    font-size:0.8rem;
    /*position:fixed;*/
    bottom: 0;
    left: 0;
    right: 0;
    color: rgb(0, 0, 0);
}

.container{
    background-color:rgb(168, 116, 109);
    border: 2px;
    border-color: rgb(48, 0, 87);
    border-style: groove;
    border-radius: 7px;
    height: 550px;
    width: 400px;
}

.screen{
    background-color: black;
    border-radius: 10px;
    border: 1px solid rgb(147, 140, 253);
    text-align: right;
    margin:5px;
    width: 385px;
    height: 100px;
}
.history{
    font-family: Dosis, Arial, Helvetica, sans-serif;
    color:rgb(252, 134, 24);
    padding-bottom: 2px;
    padding-right: 5px;
    font-size:20px;
    font-weight:700;
}
.display{

    color:rgb(0, 192, 0);
    font-family: digital-7mono, sans-serif;
    padding-bottom: 5px;
    padding-right: 5px;
    font-size: 75px;
}
.buttons{
    display: flex;
    flex-direction: column;
    font-size: 30px;
}
#operators{
  height: 95px; 
  display: flex;
  justify-content: center; 
}





#bottom{
    display: flex;
    justify-content: space-between;
}

#digits{
    width:75%;
    height:95px;
    display: flex;
    flex-wrap: wrap;
}
.digit, .dot, .plusMinus{
    width: 33.3%;
    height:90%;  
}

.dot, .plusMinus{
    background-color: rgb(255, 140, 140);
    color:rgb(68, 32, 11);
    
    
}

.digit{
    background-color: rgb(231, 165, 165);
    color:rgb(54, 80, 114);
    
}

.clearEquals{
    display: flex;
    flex-direction: column;
    width:25%;   
}
.ce{
    background-color: rgb(255, 171, 122);
    height:171px;
    color:rgb(20, 43, 26);
    
    
}
.digit, .dot, .plusMinus, .operator, .ce{
    font-size: 40px;
    font-family: Dosis, Arial, Helvetica, sans-serif;
    font-weight: 700;
    border-radius: 7px;
    color:rgb(12, 10, 39);
}

.operator{
    background-color: rgb(119, 158, 209);
    width:25%;
    height:100%; 
    font-size: 50px;
    
}

button:hover{
    opacity: 70%;
}
